.deck-index__controls {
	display: block;
	padding: 1rem;
	border-bottom: 1px solid @body-text-color;
}

.deck-index__create-wrapper {
	position: relative;
}

.deck-index__controls input {
	border-radius: 5px;
	padding: .55rem;
	margin-bottom: .5rem;
}

.deck-index__create-btn i {
	color: green;
}

.hero-selector {
	width: 100%;

	font-size: 1.25rem;
	line-height: 1rem;
	margin-bottom: .5rem;
	border: none;
}

.hero-selector__option {
	line-height: 2rem;
	padding: .5rem;
}