.deck-panel {
	width: 100%;
	position: fixed;
	background-color: #A0815D;
	bottom: @mana-curve-height;
	height: 3rem;
	padding: 0 1rem;
	z-index: 2;
	overflow: auto;
	.min-mq(@sm, {
		padding: .5rem 0;
		top: 0;
		left: 0;
		height: 100%;
		width: @sidebar-width;
		padding-bottom: @mana-curve-height;
	});
}

.deck-list {
	color: white;
	list-style: none;
	padding: 0;	
}

.deck {
	max-height: 3rem;
	transition: max-height .4s ease-out;
	overflow: hidden;
	border-bottom: 1px solid black;
	.min-mq(@sm, {
		padding: 0 1rem;
	});
}

.deck.active {
	transition: max-height .9s;
	max-height: 50rem;
}

.deck__title {
	font-size: 1.128rem;
	line-height: 3rem;
	float: left;
}

.deck__title a {
	margin-right: .5rem;	 
}

.deck-index__controls {
	display: none;
	.min-mq(@sm, {
		display: block;
	});
}

.deck-index__create-wrapper {
	padding-right: 4rem;
	padding-left: 1rem;
	position: relative;
}

.deck-index__controls input {
	border-radius: 5px 0 0 5px;
	padding: .55rem;
}

.deck-index__create-btn {
	position: absolute;
	right: 1rem;
	top: 0;
	width: 3rem;
	padding: .35rem;
	border: 2px solid white;
	color: white;
	text-align: center;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.deck__destroy-icon {
	float: right;
	cursor: pointer;
	line-height: 3rem;
}

.deck__card-list {
	clear: both;
}

.deck__card-list__item {
	padding: .25rem .5rem;
	margin: .25rem 0;
	color: #333;
	background-color: fade(@collection-background, 50%);
	border-radius: .25rem;
	box-shadow: 2px 2px 0 fade(black, 50%);

}

.deck__card-list .deck__card-list__item:last-child {
	margin-bottom: 1rem;
}

.card-list__item__remove-button {
	float: right;
	cursor: pointer;
}