// Breakpoints
@xs: 30em;
@sm: 40em;
@md: 60em;
@lg: 72.5em;
@xl: 80em;

// App Sizes
@sidebar-width: 18rem;  
@mana-curve-height: 10rem;

// Colors
@bananna-mania: #FFE8B8;
@summer-sky: #40AAFF;
@hampton: #E6D1A5;
@denim: #2E71D0;
@white: #FFFFFF; 
@safety-orange: #FE9B09;
@medium-orchid: #BE36E4;
@gamboge: #EAA418;
@lust: #EC2929;

//
@collection-background: @bananna-mania;
@mana-color: @summer-sky;
@ui-border-color: @hampton;
@common-color: @white;
@rare-color: @denim;
@epic-color: @medium-orchid;
@legendary-color: @safety-orange;
@attack-color: @gamboge;
@health-color: @lust;